.container {
  position: relative;
  height: 100%;
}

.svg {
  width: 100%;
  height: 100%;
  background-color: #eeeef3;

  path {
    fill: none;
    stroke-linecap: round;
  }

  text {
    fill: #4B4B4B
  }
}